.place__button {
    height: 19px;
    width: 22px;
    box-sizing: border-box;
    border: none;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    background-color: white;
    /* background-color: blue; */
}

.place__button:hover {
    opacity: 0.6;
}

.place__button:active {
    background-image: url(../../../images/likeblack.svg);
    opacity: 1;
}

.place__button:disabled {
    background-image: url(../../../images/like.svg);
}

@media screen and (min-width: 768px) {
    .place__button {
        margin: 0;
        background-size: 22px 22px;
    }
}
 